# MongoDB Connection String (Required)
MONGODB_URI=mongodb+srv://arunpravin125_db_user:oDKR4QFbNjWOUT38@cluster0.iclvilw.mongodb.net/?appName=Cluster0

# JWT Authentication Secret Key (Required)
JWT_SECRET_KEY=your-secret-key-change-me
